HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Arquivos de Log logs/ *.log # Arquivos Temporários e de Build *.swp *.swo *~ .DS_Store # Arquivos do Maven target/ pom.xml.tag pom.xml.releaseBackup pom.xml.versionsBackup release.properties dependency-reduced-pom.xml # Arquivos do Spring Boot spring.log